{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "bracketSameLine": false,
  "printWidth": 60,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}